canvas {
  box-shadow: 20px 10px 50px black;
}
h1 {
  margin: 0px;
  margin: 10px;
  font-size: 2.9em;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(white, rgb(196, 196, 196));
  height: 100vh;
}
